$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('https://i.imgur.com/dBuzU4w.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  padding-top: 15%;
}

.lede {
  font-size: 25px;
  color: white;
}

.test {
  text-align: center;
  color: white;
  font-size: 50px;
  display: none;
}

.set-tracker {
  display: none;
}

.sign-up{
  display: none;
}

.sign-in{
  display: none;
}

.sign-out{
  display: none;
}

.change-pw{
  display: none;
}

.new-item{
  display: none;
}

.all-workouts{
  display: none;
}

.update-workout{
  display: none;
}

.all-users{
  display: none;
}

.createWorkout {
  display: none;
}

.updateWorkout {
  display: none;
}

.all-users {
  display: none;
}

.showAll {
  display: none;
}

.top {
  border: 1px solid black;
  color: white;
}

.middle {
  border: 1px solid black;
}

.body {
  border: 1px solid black;
}

// .navbar {
//    background-color: transparent;
//    background: transparent;
//    border-color: transparent;
// }
#showPass{
  display: none;
}

#sign-out{
  display: none;
}

.main-title{
  font-size: 80px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px white;
}

.sub-title{
  text-align: center;
}

.username{
  color: white;
}
