$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background-image: url("https://i.imgur.com/CWqIyfM.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
  // background-attachment: fixed;
  background-color: gray;
  padding-top: 15%;
}

// .timer {
//   display: none;
// }

.set-tracker {
  display: none;
}

.sign-up{
  display: none;
}

.sign-in{
  display: none;
}

.sign-out{
  display: none;
}

.change-pw{
  display: none;
}

.new-item{
  display: none;
}

.all-workouts{
  display: none;
}

.update-workout{
  display: none;
}

.all-users{
  display: none;
}

// .navbar {
//    background-color: transparent;
//    background: transparent;
//    border-color: transparent;
// }
#showPass{
  display: none;
}

#sign-out{
  display: none;
}

.navbar-default {
}
