$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.sign-up{
  display: none;
}

.sign-in{
  display: none;
}

.sign-out{
  display: none;
}

.change-pw{
  display: none;
}

.new-item{
  display: none;
}

.all-workouts{
  display: none;
}

.update-workout{
  display: none;
}

.all-users{
  display: none;
}
